CLOUDOPS_APP_NAME=CloudOps Center
CLOUDOPS_ENVIRONMENT=development
CLOUDOPS_DEBUG=false
CLOUDOPS_API_V1_PREFIX=/api/v1
CLOUDOPS_DATABASE_URL=postgresql+psycopg://cloudops:cloudops@postgres:5432/cloudops_center
CLOUDOPS_REDIS_URL=redis://redis:6379/0
CLOUDOPS_SECRET_KEY=super-secret-change-me
CLOUDOPS_ACCESS_TOKEN_EXPIRE_MINUTES=60
CLOUDOPS_ALGORITHM=HS256
CLOUDOPS_CORS_ORIGINS=["*"]
